footer
	div.row
		div.six.columns.info
			div.footer-logo
				a(href='#')
					img(src='images/footer-logo.png' alt='')
				p |asdfasdfasdfasdfjasldfjlasdf<br>asdfasdfdsfadsfasdfasdfasdf<br>adsfsdfsdfsdfasdfasdfasdf<br>adsfasdfasdfasdfasfsaf							adsfasdfasdfasdfasdfasfdasdfds

		div.six.columns.right-cols
			div.row
				div.columns
					h3.address Come Visit
					p
						|1600 Amphitheatre Parkway <br> Mountain View, CA<br>94043 US
				div.columns
					h3.social Socializa
					ul
						li: a(href='#') Facebook
						li: a(href='#') Twitter
						li: a(href='#') GooglePlus
				div.columns.last
					h3.contact Contactenos
					ul
						li: a(href='tel:89278125') 89278125
						li: a(href='tel:234234234') 234234324
						li: a(href='jespinoza@formunica.com') jespinoza@formunica.com
		p.copyright | &copy; 2016 nicalab | Design by <a title="Styleshout" href="http://www.styleshout.com/">Styleshout</a></p>

		div#go-top
			a(href='#homepage',rel="canonical",title='back to top', class='smoothscroll')
				i.icon-up-open