footer
	div.row
		div.six.columns.info
			div.footer-logo
				a(href='#')
					img(src='images/nicalab-bottom.png' alt='logo')
				p 
					|La mejor manera de trabajar en línea...<br>Nuestro equipo se encargara de ubicarlo lo mas pronto posible en un proyecto, para que pueda obtener ganancias rápidamente.

		div.six.columns.right-cols
			div.row
				div.columns
					h3.address Ubicación
					p
						|Managua, Nicaragua <br> Bolonia
				div.columns
					h3.social Socializa
					ul
						li: a(href='#') Facebook
						li: a(href='#') Twitter
						li: a(href='https://plus.google.com/b/103793918954747644661/103793918954747644661?hl=es') GooglePlus
				div.columns.last
					h3.contact Contactenos
					ul
						li: a(href='tel:50589278125') (505)89-27-8125
						li: a(href='mailto:nicalab.customer.service@gmail.com') nicalab.customer.service@gmail.com
		p.copyright | &copy; 2016 nicalab | Design by Solutions4you</p>

		div#go-top
			a(href='#homepage',rel="canonical",title='back to top', class='smoothscroll' alt='home nicalab')
				i.icon-up-open