extends layout

//-- Home page 
			============================================
section#hero
	div.row
		div.twelve.columns
			div.hero-text
				h1.responsive-headline Unete a nosotros y encuentra una manera efectiva de recibir ingresos extras!!!.
				p
					|Inscribite y trabaja con nostros llena tu perfil y te estaremos llamando lo mas pronto posible.
				
			div.buttons
				a(href='#',class='button trial')  Unete a nosotros
				a(href='#features',class='button learn-more smoothscroll') Aprende mas
			div.hero-image
				img(src='images/hero-image.png' alt='')
