doctype html
html
	head
		meta( charset='utf-8' )
		title=title
		meta(name='descripcion' content='Somos un equipo que te ayudara a encontrar un proyecto en el que puedas trabajar desde donde tu lo desees')
		meta(name='keywords' lang='es' content='encuentra trabajo,movil, web, desarrollo, soluciones,aplicaciones, erp,')
		meta(name='keywords' lang='en-us' content='encuentra trabajo,movil, design, develop, soluciones,app, erp,')
		meta(name='author' content='Solutions4you')
		meta(name='HandheldFriendly' content='True')
		meta(name='MobileOptimized' content='380')
		meta(name='apple-mobile-web-app-capable' content='yes')
		meta( http-equiv="X-UA-Compatible", content="IE=edge" )
		meta(name="viewport",content="width=device-width, initial-scale=1.0")
		meta(name="copyright" content="Solutions4you")
		meta(name="geo.region" content="NI-MN")
		meta(name="geo.placename" content="Managua")
		meta(name="distribution" content="global")
		meta(name="googlebot" content="noarchive")
		meta(name="DC.title" content="nicalab, te encuentra trabajo")
		meta(name="geo.placename" content="Managua")
		meta(property="og:title" content="nicalab encuentra trabajo para desarrolladores, diseñadores e ilustradores")
		meta(itemprop="description" content="Somos un equipo que busca trabajos para las personas que se nos subscriban.")
		meta(property="og:site_name" content="nicalab")
		meta(property="og:url" content="http://nicalab.com/")

		link(type='image/x-icon',rel='shortcut icon',href='/favicon.png')
		link(type='image/x-icon',rel='icon',href='/favicon.png')
		include googleanalytics
	body
		header
			div.logo
				a(href='#homepage', class='smootscroll')
					img(src='/images/nicalab.png')
			nav#nav-wrap
				a(href='#nav-wrap', class='mobile-btn', title='Visualizar navegacion') Visualizar Navegacion
				a(href='#',class='mobile-btn', title='Oculta navegacion') Ocultar menu
				ul#nav.nav
					li: a.smoothscroll(href='#features') Inicio
					li: a.smoothscroll(href='#screnshots') Nosotros
					li: a.smoothscroll(href="#subcribe") Subscribete
			ul.header-social
				li: a(href="#"): i.fa.fa-facebook
				li: a(href="#"): i.fa.fa-twitter
				li: a(href="#"): i.fa.fa-google-plus
		
		block content
		//-- Footer
			==============================================
		include footer

    
link(rel='stylesheet', href='/stylesheets/default.css')
